<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Form</title>
  </head>

  <body>
    <h3>Student Registration Form</h3>

    <form th:action="@{/process-form}" th:object="${student}" method="post">
      <label for="first_name">First name: </label>
      <input type="text" name="first_name" th:field="*{firstName}">
      <br><br>

      <label for="last_name">Last name: </label>
      <input type="text" name="last_name" th:field="*{lastName}">
      <br><br>

      <label for="country">Country: </label>
      <select name="country" th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
      </select>
      <br><br>

      <label for="gender">Gênero: </label>
      <input type="radio" name="gender" th:field="*{gender}" value="Male"> Male
      <input type="radio" name="gender" th:field="*{gender}" value="Female"> Female
      <br><br>

      <label for="favorite_language">Favorite language: </label>
      <input type="radio" name="favorite_language" th:field="*{favoriteLanguage}" th:each="tempLang : ${languages}"
        th:value="${tempLang}" th:text="${tempLang}">
      <br><br>

      <label for="operational_system">OS Knowledge: </label>
      <input type="checkbox" name="operational_system" th:field="*{systemsWithKnowledge}" th:value="'Microsoft Windows'"> Windows
      <input type="checkbox" name="operational_system" th:field="*{systemsWithKnowledge}" th:value="Linux"> Linux
      <input type="checkbox" name="operational_system"  th:field="*{systemsWithKnowledge}" th:value="Mac"> Mac
      <br><br>

      <input type="submit">
    </form>
  </body>

</html>